// color
$dark-gray: #0D0845;
// $body-color: #595959;
$white: #fff;
// $light: #8188a9;
$black: #000;
$small-black: #333;
$cyan: #C3C2CA;
$cyan2: #ddd;
$black-section-text-color:#CBCBCB;

$theme-primary-color: #CAAB06;
$theme-primary-color-s2: #776400;
$body-bg-color: #fff;
$section-bg-color: #F9F9FC;
$black-bg-color: #202026;
$black-bg-color-s2: #2C2C32;
$text-color: #585858;
$text-light-color: #7b7b7b;
$heading-color: $dark-gray;
$border-color: #C4C4C4;

