@import "../variable/variable.scss";
@import "../variable/mixin.scss";

.wpo-blog-section {
    padding-bottom: 90px;
	background: $section-bg-color;
	position: relative;
	z-index: 1;

    @media(max-width:767px){
        padding-bottom: 60px;
    }

	.vector-1{
		position: absolute;
		left: 0;
		bottom: 0;
		z-index: -1;
	}
	.vector-2{
		position: absolute;
		right: 0;
		top: 0;
		z-index: -1;
	}
    .wpo-blog-item{
        margin-bottom: 30px;
		padding: 20px;
		background: $section-bg-color;
		border: 1px solid $border-color;

        .wpo-blog-img{
			overflow: hidden;
			position: relative;

			.thumb{
				position: absolute;
				left: 15px;
				top: 15px;
				padding: 7px 25px 6px;
				background: $theme-primary-color;
				color: $white;
				text-transform: uppercase;
				font-size: 14px;
				
			}
            img{
                width: 100%;
				-webkit-filter: grayscale(0);
				-moz-filter: grayscale(0);
				-o-filter: grayscale(0);
				-ms-filter: grayscale(0);
				filter: grayscale(0);
				transition: all .3s;
				transform: scale(1);
				min-height: 260px;
				object-fit: cover;
            }
        }

		&:hover{
			.wpo-blog-img{
				img{
					-webkit-filter: grayscale(100%);
					-moz-filter: grayscale(100%);
					-o-filter: grayscale(100%);
					-ms-filter: grayscale(100%);
					filter: grayscale(100%);
					transform: scale(1.2);
				}
			}
		}
    
    
        .wpo-blog-content {
			padding-top: 20px;
			ul{
				list-style: none;
				display: flex;
				margin-bottom: 15px;
				li{
					color: $theme-primary-color-s2;
					font-size: 16px;
					&:first-child{
						padding-right: 30px;
						position: relative;

						&:before{
							position: absolute;
							right: 10px;
							top: 50%;
							transform: translateY(-50%);
							width: 6px;
							height: 6px;
							content: "";
							background: $theme-primary-color;
							border-radius: 50%;
						}
					}
					a{
						color: $theme-primary-color-s2;

						&:hover{
							color: $theme-primary-color;
						}
					}
				}
			}
			h2{
				font-size: 30px;
				margin-bottom: 20px;
				line-height: 36px;
				font-weight: 600;
				margin-top: 10px;

				@media(max-width:1400px){
					font-size: 25px;
					margin-bottom: 10px;
				}
				@media(max-width:1200px){
					font-size: 22px;
				}

				a{
					color: $heading-color;

					&:hover{
						color: $theme-primary-color;
					}
				}
			}

			p{
				font-size: 18px;
				color: $text-color;
			}

        }
    }
}


